<div class="min-h-screen bg-[#F6F1EB] flex flex-col">

  <!-- Navbar -->
  <header class="bg-[#F9F5F0] border-b border-[#E1D7CD] shadow-sm">

    <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">

      <h1 class="text-lg font-bold text-[#8B5E3C]">
        Admin Panel
      </h1>

      <!-- Menu -->
      <nav class="flex gap-6 text-sm font-medium">

        <button
          (click)="showComponent('dashboard')"
          class="hover:text-[#C6A76E]">

          Dashboard

        </button>

        <button
          (click)="showComponent('products')"
          class="hover:text-[#C6A76E]">

          Products

        </button>

        <button
          (click)="showComponent('orders')"
          class="hover:text-[#C6A76E]">

          Orders

        </button>

        <button
          (click)="showComponent('add-product')"
          class="hover:text-[#C6A76E]">

          Add Product

        </button>

      </nav>

    </div>

  </header>


  <!-- Dynamic Component Load -->
  <main class="flex-1 max-w-7xl mx-auto w-full px-4 py-6">


    <app-admin-dashboard *ngIf="selectedComponent === 'dashboard'"></app-admin-dashboard>


    <app-manage-products *ngIf="selectedComponent === 'products'"></app-manage-products>


    <app-all-orders *ngIf="selectedComponent === 'orders'"></app-all-orders>


    <app-createproduct *ngIf="selectedComponent === 'add-product'"></app-createproduct>


  </main>

</div>